<div class="logo">
    <a routerLink="/">
        <img src="assets/images/svg/logo.svg" alt="logo" class="img-fluid">
    </a>
</div>
<section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<p class="zoom-area"><b>page not found</b></p>
<div class="link-container">
    <p>We're sorry, but the page you were looking for doesn't exist.</p>
    <a routerLink="/" class="more-link">Back to Home</a>
</div>